/*NAVEGADOR*/
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 94, 214);
  gap: 100px;
  height: 60px;
  font-weight: bold;
}


/*BUSCADOR HOME*/
.searchHome{
  padding: 15px;
  height: 30px;
  border-radius: 40px;
}
/*BUSCADOR ADMIN PANEL*/
.searchInput{
  padding: 15px;
  height: 30px;
  border-radius: 40px;
}
/*DISEÑO CARDS*/
.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 16px;
}

.card {
  flex:1 1 250px;
  max-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #ccc;
  background: rgb(43, 43, 43);
  padding: 10px;
  border-radius: 8px;
  padding: 20px;
}

.card img {
  width: 100%;
  height: 160px;
  box-shadow: 1px 1px 30px 1px rgba(244, 247, 231, 0.295);
  border-radius: 50px;
  object-fit: cover;
  object-position: 50% 30%
  
}

.btnLogout{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}

.btnLike{
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}

/*SALUDO USUARIO LOGEADO*/
.userName{
  font-weight: bold;
  color: yellow;
}

/*PAGINACION*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

/*FORMULARIO DE LOGIN*/
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
/*FORMULARIO DE REGISTRO*/
.registerForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
/*PANEL ADMINISTRADOR*/
.adminPanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

/*FORMULARIO DE CREACION*/
.createForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

/*PANEL DE USUARIO*/
.profileTab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}