/*NAVEGADOR*/
.navBar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 94, 214);
  gap: 100px;
  height: 60px;
  font-weight: bold;
}
.imgLogo{
  width: 180px;
  filter: invert();
  
}


/*BUSCADOR HOME*/
.searchHomeContainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.searchHome{
  padding: 30px;
  width: 600px;
  height: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;
  background: none;
  color: white;
}
/*BUSCADOR ADMIN PANEL*/
.searchInput{
  padding: 15px;
  height: 30px;
  border-radius: 40px;
}


/*DISEÑO CARDS---------------------------------------------------------------------------------*/
.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 16px;
}

.card {
  flex:1 1 250px;
  max-width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgb(19, 19, 19);
  padding: 10px;
  border-radius: 8px;
  padding: 20px;
}

.card img {
  width: 100%;
  height: 160px;
  margin-top: 20px;
  box-shadow: 1px 1px 30px 1px rgba(244, 247, 231, 0.349);
  border-radius: 50px;
  object-fit: cover;
  object-position: 50% 30%
  
}
.mediaCard{
  margin-top: 40px;
  font-size: small;


}
.titleMediaCard{
  margin-top: 10px;
}

.quoteCard{
  margin-top: 12px;
  font-style: italic;
}
.counterLike{
  margin-top: auto;
}

/*------------------------------------------------------------------------------------------------*/
.btnLogin{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}

.btnLogout{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}
.iconLogout{
  filter: invert();
  width: 18px;
}
.btnLike{
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  margin-top: 10px;
  padding: 8px;
  color: white;
}

/*SALUDO USUARIO LOGEADO*/
.userName{
  font-weight: bold;
  color: yellow;
}

/*PAGINACION*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

/*FORMULARIO DE LOGIN*/
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
/*FORMULARIO DE REGISTRO*/
.registerForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.btnRegist{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}
/*PANEL ADMINISTRADOR*/
.adminPanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  margin: 20px 0;
}

.adminSearch{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.btnDlt{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}

.btnEdit{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}

.btnDltAdmin{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}

.btnEditAdmin{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}

/*FORMULARIO DE EDICION*/
.labelEditForm{
  font-weight: bold;
}


.editForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
.editQuote{
  width: 300px;
  height: 200px;
  border-radius: 30px;
  background:none;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-weight: bold;
  
}
.btnSave {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
  
}
/*FORMULARIO DE CREACION*/
.createForm{
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.createform, input{
  padding: 15px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;
  background:none;
  color: white;

}

.createform,select{
  background:none;
  color: rgb(99, 99, 99);
  border: 1px solid rgb(255, 255, 255);
}
.createform, option{
  color: black;
}


.btnCreateCard{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  background:none;
  padding: 8px;
  color: white;
}

.selectMedia{
  border-radius: 30px;
  padding: 8px;
}
.quoteArea{
  border-radius: 30px;
  background:none;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-weight: bold;
}

/*PANEL DE USUARIO*/
.profileTab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.appContainer {
  min-height: 100vh;      
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;                
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 8pt;
  background-color: rgb(150, 94, 214);
  color: white;
  text-align: center;
  padding: 15px;
}

.iconHome{
  filter: invert();
}

.sideBar{
 
}
.sideTopCard{
   display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1 1 250px;
  max-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgb(19, 19, 19);
  padding: 10px;
  border-radius: 8px;
  padding: 20px;
  transform: scale(0.7);
} 
