
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}


img {
  max-width: 100%;
  display: block;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  font-family: inherit;
  cursor: pointer;
}

/* INPUTS */
input, select, textarea {
  font-family: inherit;
  outline: none;
}